.action {
	margin-left: 25.5%;
    margin-top: 8%;
    padding-bottom: 4.9%;

	&__header {
		span {
			font-family: var(--primary-bold-font-family);
			font-size: var(--font-size-sm);
			color: var(--highlight-text-color);
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}

		h2 {
			margin: -2% 0px 0px 4%;
			position: relative;
			font-size: var(--header-2);
			font-family: var(--primary-medium-font-family);
			font-weight: 400;
		}
	}

	&__caption {
		margin-top: 2vw;
	    margin-left: 8vw;
	    max-width: 56vw;

		p {
			font-size: var(--font-size-base);
			font-family: var(--primary-regular-font-family);
			line-height: 2.5vw;
			letter-spacing: 1px;
    		max-width: 52%;
    		margin: 0px;
    		padding: 5px 0px;
		}
	}

	@media screen and (max-width: 1366px) {
		margin-top: 6%;
		padding-bottom: 5%;

		&__caption {
			p {
				font-size: var(--font-size-base);
				font-family: var(--primary-regular-font-family);
				line-height: 2.5vw;
				letter-spacing: 1px;
	    		max-width: 52%;
	    		margin: 0px;
	    		padding: 5px 0px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		&__caption {
			margin-left: 9.5vw;
		}
	}

	@media screen and (max-width: 575px) {
		padding: 7vw;
		margin-left: 0vw;

		&__caption {
			display: block;
			padding-left: 5vw;

			p {
				max-width: 100%;
				line-height: 4.5vw;
			}

			.btn {
				max-width: 22vw;
			}
		}
	}
}