.slider {
	&__cover {
		background: url('../img/slider/cover.jpg') center no-repeat;
		background-size: cover;
		width: 37%;
    	padding-bottom: 32.5%;
    	position: relative;

    	&--content {
    		width: auto;
    		height: 100%;
    		position: absolute;
    		top: 0;
    		left: 0;
    		padding-left: 38%;

    		h2 {
				font-size: var(--header-2);
				letter-spacing: 2px;
				font-family: var(--primary-regular-font-family);
    			margin-top: 1em;
    			margin-bottom: 0px;
    			color: var(--alter-text-color);

				strong {
					font-family: var(--primary-bold-font-family);
					font-weight: 900;
				}
    		}

    		p {
    			color: var(--alter-text-color);
    			font-size: var(--font-size-base);
    			width: 90%;
			    margin-top: 1em;
			    letter-spacing: 1px;
			    line-height: 2.5vw;
    		}
	    	
	    	.slider--dots {
	    		width: 8px;
	    		height: 8px;
	    		width: auto;

	    		.owl-dot {
					width: 8px;
					height: 8px;
					margin: 0px;
					padding: 0px;
					border-radius: 500px;
					border: 0px;
					background-color: var(--secondary-color);
					margin-right: 7%;
	    		}

	    		.owl-dot.active {
	    			background-color: var(--highlight-color);
	    		}
	    	}

	    	.slider--nav {
				gap: 5%;
				margin-left: -10px;
				margin-top: 12%;

	    		.slider-btn {
					width: 3.6vw;
					height: 3.6vw;
					cursor: pointer;
					border-radius: 500px;
					border: 1px solid;
				}

				.slider-btn-primary {
					border-color: var(--secondary-color);
					color: var(--secondary-btn-color);
					background-color: transparent;

					span {
						font-size: 2.7vw;
						margin-left: -3px;
					}
				}

				.slider-btn-secondary {
					border-color: var(--highlight-color);
					color: var(--secondary-btn-color);
					background-color: var(--highlight-color);
					box-shadow: 3px 4px 13px 1px rgba(0, 0, 0, 0.5);

					span {
						font-size: 2.7vw;
						margin-right: 0px;
					}
				}
	    	}
    	}
	}

	&__container {
		width: calc(100% - 37%);
		max-height: 30vw;

		#slider {
			padding: 5% 0% 6% 6%;
			overflow: hidden;
    		width: auto;
    		max-height: 30vw;
    		box-sizing: border-box;
		}
	}

	@media screen and (max-width: 1366px) {
		&__cover {
	    	&--content {
	    		p {
	    			width: 95%;
	    		}
	    	}
	    }

	    &__container {
			#slider {
				padding: 4% 0% 6% 6%;

				.owl-stage-outer {
					max-height: 30vw;
				}
				
				img {
					width: 18.8vw;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		&__cover {
	    	&--content {
		    	.slider--nav {
					margin-left: -10px;
				}
			}
		}
	}

	@media screen and (max-width: 575px) {
		display: flex;
		flex-wrap: wrap;

		&__cover {
			width: 100%;
			padding-bottom: 70%;

			&--content {
				padding-left: 40vw;
				padding-top: 2vw;

				p {
					line-height: 4.5vw;
				}

				.slider--nav {
					margin-left: 0px;

					.slider-btn {
						width: 8vw;
						height: 8vw;

						span {
							font-size: 6vw;
						}
					}

					.slider-btn-secondary {
    					border-color: var(--highlight-color) !important;
    				}
				}
			}
		}

		&__container {
			width: 100vw;
			max-height: initial;

			#slider {
				max-height: initial;

				.owl-stage-outer {
					max-height: initial;
				}

				img {
					width: 35vw;
				}
			}
		}
	}

	@media screen and (max-width: 425px) {
		&__container {
			#slider {
					img {
					width: 65vw;
				}
			}
		}
	}
}
